@{
  Layout = "_Layout";
}
<div class="container">
  <form action="/wordcounter" method="post">
  <label for="inputWord">Input Word:</label>
    <input class="form-control" id="inputWord" name="inputWord" type="text"><br>
    <label for="inputSentence">Input Sentence: </label>
    <input class="form-control" id="inputSentence" name="inputSentence" type="text"><br>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>