@{
  Layout = "_Layout";
}
<div class="container">
  <form action="/wordcounter" method="post">
  <label for="inputWord">Input Word: </label>
    <input id="inputWord" name="inputWord" type="text"><br>
    <label for="inputSentence">Input Sentence: </label>
    <input id="inputSentence" name="inputSentence" type="text"><br>
    <button type="submit">Submit</button>
  </form>
</div>