@{
  Layout = "_Layout";
}
<div class="container text-center">
<h1>Welcome!</h1>
<a href='/wordcounter'><button class="btn btn-lg btn-primary bg-primary text-white">Start Word Counter</button></a>
</div>
